.wrap-index {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: url(/images/img_intro.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
.section-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  left: 0;
  text-align: center;
}
.object {
  animation: bounce 2s 1s both;
}
@keyframes bounce {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);

    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);

    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.object__logo {
  margin-bottom: 40px;
}
