<!DOCTYPE html>
html(lang="ru")
  include base/_head
  body
    .wrap-index
      .section-center
        .object
          .object__logo 
            img.object__img(src="/images/logo_intro.png", alt="logo air planet")
          .object__btn
            a.btn.object__bnt-link(href="/main.html") Перейти на сайт             
              <svg class="object__bnt-img" version="1.1" id="Слой_1" xmlns:xodm="http://www.corel.com/coreldraw/odm/2003" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 97 104"style="enable-background:new 0 0 97 104;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#3a5bbf;stroke-width:12.4581;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:66.6209;}</style><g id="__x0023_Layer_x0020_1"><polyline class="st0" points="49.4,8.9 92.5,52 49.4,95.1 "/><polyline class="st0" points="22,33.6 40.4,52 22,70.4 	"/><line class="st0" x1="6.3" y1="52" x2="85.5" y2="52"/></g></svg>
    include base/_scripts

    