.booking.booking--blue
    .booking__inner Вопросы по бронированию билетов в нашей авиакомпании принимаются. Для этого можно оставить 
        a.booking__link.booking__link--border(href="#") заявку на сайте
        |   или же позвонить по номеру круглосуточной поддержки 
        a.booking__link(href="tel:88000039210") 8 (800) 00-392-10