nav.breadcrumbs
    ul.breadcrumbs__menu
        li.breadcrumbs__item
            a.breadcrumbs__link(href="../main.html") Главная
        li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="/comment.html") Отзывы 
        