section.content
        h2.title.content__title.content__title--margin--bottom Отзывы
        ul.content__list.content__list--margin--bottom
            li.content__item
                .content__avatar
                    img(src="/images/comments/ava1.jpg", alt="avatar")
                .content__wrap-inner
                    p.content__date 12.10.2016
                    h3.content__title-inner Ирина Паламарчук
                    p.content__text Классный полет, трясло первые полчаса так, что я боялась отстегнуть ремни. Слава Богу, ничего не случилось, но мне даже валерьянка не помогла, так страшно было. Рекомендую эту компанию, но лучше доплатить и лететь с комфортом.
            li.content__item
                .content__avatar
                    img(src="/images/comments/ava2.jpg", alt="avatar")
                .content__wrap-inner
                    p.content__date 01.02.2016
                    h3.content__title-inner Александр Бельков
                    p.content__text Все понравилось, вежливые стюардессы, вовремя убирают, напитки предлагали 2 раза, а еду – 1 раз. Единственное, что не понравилось, как то мало места для ног, но с этим у меня часто проблема, рост 2,1м.
            li.content__item
                .content__avatar
                    img(src="/images/comments/ava3.jpg", alt="avatar")
                .content__wrap-inner
                    p.content__date 22.12.2015
                    h3.content__title-inner Игорь Николаенко
                    p.content__text Кормили супер вообще! Сказали, что это из-за того, что полет менее 2,5 часов. Но прибавьте к этому время регистрации в аэропорту. Летел с женой и мы очень проголодались. Просто имейте это ввиду, берите с собой хотя бы бутерброды, чипсы какие-то или печенье.
            li.content__item
                .content__avatar
                    img(src="/images/comments/ava4.jpg", alt="avatar")
                .content__wrap-inner
                    p.content__date 14.08.2015
                    h3.content__title-inner Анастасия Порядная
                    p.content__text За такую цену просто все отлично! Кто недоволен, платите в 2 раза больше за аналогичные рейсы. Мне понравилось, что на борту было чисто, я аллергик и всегда чутко реагирую на пыль. Спасибо за полет! Рекомендую!
        include _pagination