section.team
    h2.title.team__title.content__title Экипаж
    ul.team__list
        li.team__item
            .team__avatar.team__avatar--border
                img(src="/images/team/alex.jpg", alt="avatar").team__foto
                .team__avatar-name Алекей
            .team__wrap-inner
                p.team__name Белов Алексей Вадимович
                h3.team__position Главный пилот
                p.team__description Высокий профессионализм, честь и отвага – все это характеристики главного пилота Белова А.В. На его счету более 700 полетов. Награжден за мужество и отвагу указом президента.
        li.team__item
            .team__avatar.team__avatar--border
                img(src="/images/team/irina.jpg", alt="avatar").team__foto         
                .team__avatar-name Ирина
            .team__wrap-inner
                p.team__name Сухарина Инна Николаевна
                h3.team__position Бортпроводник 
                p.team__description Благодаря деятельности этого человека, на борту самолета клиенты чувствуют себя, как дома. Инна Николаевна чутко относится ко всем требованиям клиентов, очень любит детей и всячески помогает сделать полет комфортным и приятным.
        li.team__item
            .team__avatar.team__avatar--border
                img(src="/images/team/boris.jpg", alt="avatar").team__foto
                .team__avatar-name Борис
            .team__wrap-inner
                p.team__name Лещ Борис Анатольевич
                h3.team__position Авиатехник
                p.team__description Человек с золотыми руками, инженер и конструктор от Бога! Борис Анатольевич работает уже более 50 лет и на своем веку видел, как из старых моделей самолетов появлялись настоящие авиа шедевры.
        li.team__item
            .team__avatar.team__avatar--border
                img(src="/images/team/elina.jpg", alt="avatar").team__foto
                .team__avatar-name Элина
            .team__wrap-inner
                p.team__name Дигангидзе Элина Даниловна
                h3.team__position Диспетчер
                p.team__description Ей присущ внимательный подход к расчетам, а отменная память удивляет даже самых опытных членов экипажа. За 22 года работы она стажировала более 100 диспетчеров для работы в крупнейших аэропортах страны.  Знает в совершенстве 5 иностранных языков.
        li.team__item
            .team__avatar.team__avatar--border
                img(src="/images/team/elena.jpg", alt="avatar").team__foto
                .team__avatar-name Елена
            .team__wrap-inner
                p.team__name Следь Елена Николаевна
                h3.team__position Старший бортпроводник 
                p.team__description Вежливая улыбка, внимательность к деталям и большой опыт работы – это лишь малая часть достоинств Елены Николаевны. Старший бортпроводник задает тон всей поездке, поэтому клиенты, которые летят с ней, заряжаются отличным настроением и гармонией. 
        li.team__item
            .team__avatar.team__avatar--border
                img(src="/images/team/yuri.jpg", alt="avatar").team__foto          
                .team__avatar-name Юрий
            .team__wrap-inner
                p.team__name Нестеренко Юрий Афанасьевич 
                h3.team__position Второй пилот
                p.team__description Правая рука главного пилота, опытный и отважный помощник. О своей работе в шутку говорит так «Наше дело правое, не мешать левому». Опыт работы составляет 18 лет, внимательно относится ко всем деталям и считает свою работу – делом жизни. 