footer.footer
    .container
        .footer__common
            .footer__autor
                .footer__author-made Сделано с любовью и старанием на&nbsp;курсе «HTML + CSS» в 
                    a.loftschool(href="https://loftschool.com" target="_blank") LoftSchool.
                .footer__author-authorwork Автор работы: 
                    b Ольга Полукарова
            .footer__logo
                a.footer__logo-link.logo(href="/main.html")
                    img.logo(src="/images/logo.png" alt="logo air planet")
            