header.header
    .container
        .header__wrapper
            a.header__logo-link.logo(href="/main.html")
                img.logo(src="/images/logo.png" alt="logo air planet")
            .contacts
                a.contacts__tel(href="tel:88000039210") 8 (800) 00-392-10
                a.contacts__worktime(href="#") График работы
                    include _spoiler