.pagination
    .pagination__display Страница 1 из 7
    .pagination__controlls
        //- a.pagination__arrow.pagination__arrow--left.pagination__arrow--disabled(href="#") &lsaquo;
        ul.pagination__list
            li.pagination__item
                a.pagination__link.pagination__arrow--disabled(href="#") &lsaquo;
            li.pagination__item
                a.pagination__link.pagination__link--active(href="#") 1
            li.pagination__item
                a.pagination__link(href="#") 2
            li.pagination__item
                a.pagination__link(href="#") 3
            li.pagination__item
                a.pagination__link(href="#") 4
            li.pagination__item
                a.pagination__link(href="#") 5
            li.pagination__item
                a.pagination__link(href="#") 6
            li.pagination__item
                a.pagination__link(href="#") 7  
            li.pagination__item
                a.pagination__link(href="#") &rsaquo;        
        //- a.pagination__arrow.pagination__arrow--right(href="#") &rsaquo;