section.partners.partners--border   
    h2.title.partners__title.partners__title--size  Партнёры  
    ul.partners__list.partners__list--column
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/bmpcompany.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/tetra.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/sibavia.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/oneair.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/bingair.jpg", alt="bingair")
        li.partners__item.partners__item--margin
            a.partners__link(href="#")
                img(src="/images/partners/ural.jpg", alt="bingair")
        
