section.tariffs
    h1.title.tariffs__title Тарифы
    ul.tariffs__list
        li.tariffs__item
            .tariffs__icon.tariffs__icon-flower
            h3.tariffs__title-inner стандарт
            .tariffs__description Создан для вашего комфортного отдыха
            ul.tariffs__content-list
                li.tariffs__content-item Питание включено
                li.tariffs__content-item Багаж (5 кг)
                li.tariffs__content-item Детское кресло
            .tariffs__price <span> &#36; </span> 19
        li.tariffs__item.tariffs__item--border
            .tariffs__icon.tariffs__icon-star
            h3.tariffs__title-inner премиум
            .tariffs__description Для любителей хороших впечатлений
            ul.tariffs__content-list
                li.tariffs__content-item Питание включено
                li.tariffs__content-item Багаж (5 кг)
                li.tariffs__content-item Детское кресло
            .tariffs__price <span> &#36; </span> 39
        li.tariffs__item
            .tariffs__icon.tariffs__icon-palette
            h3.tariffs__title-inner лакшери
            .tariffs__description Всё самое лучшее и незабываемое
            ul.tariffs__content-list
                li.tariffs__content-item Питание включено
                li.tariffs__content-item Багаж (5 кг)
                li.tariffs__content-item Детское кресло
            .tariffs__price <span> &#36; </span> 99     